
<div class="footer pt-2 " style="border-top: gray solid 1px">
    <div class=" text-center ">
        <p><strong>友情链接</strong></p>
        <div class="container">
            <div class="row">
                {foreach $friendship_links as $v}
                <div class="col-sm-2"><a href="{$v['url']}">{$v.name}</a></div>
                {/foreach}
            </div>
        </div>


    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/static/layer/layer.js"></script>
<script>
    function login(){
        layer.open({
            type: 2,
            title: '登陆',
            shade: 0.3,
            area: ['480px', '440px'],
            content: '{:url("login/index")}'
        });
    }
</script>
</body>
</html>