<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/admin/layui/css/layui.css">
    <script type="text/javascript" src="/static/admin/layui/layui.js"></script>
</head>
<body style="padding:10px;">
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" name="name" value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">小说</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" name="n_id" value="">
            <p style="color: red"></p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">推荐位说明</label>
        <div class="layui-input-block">
            <input type="text"  class="layui-input" name="desc" value="">
            <p style="color: red;"></p>
        </div>
    </div>
</form>
<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" onclick="save()">保存</button>
    </div>
</div>
<script type="text/javascript">
    layui.use(['layer','form'],function(){
        form = layui.form;
        layer = layui.layer;
        $ = layui.jquery;
    });
    function save(){
        $.post('/admin/recommend/add',$('form').serialize(),function(res){
            if(res.code>0){
                layer.alert(res.msg,{icon:2});
            }else{
                layer.msg(res.msg);
                setTimeout(function(){parent.window.location.reload();},1000);
            }
        },'json');
    }
</script>
</body>
</html>