    {include file="default/head"}
    <style type="text/css">
        li {
            list-style: none;
        }
        .list-img {
            height: 120px;
            width: 100px;
        }
        .d-list li{
            border-bottom: 1px solid #dfdfdf;
        }
    </style>
    <div class="container d-list">
        <div class="row">
          <ul class="list-group">
            {foreach $cats as $c}
              <li class="list-group-item">
                  <div class="media position-relative">
                      <a href="/m/novel/{$c.id}.html"><img src="{$c.cover}" class="list-img pr-3" alt="..." ></a>
                      <div class="media-body">
                          <h6 class="mt-0">{$c.name}&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: .8125rem;color: gray; border-top: -2rem;">{$c.author}</span></h6>
                          <p class="badge  text-wrap " >{$c.desc|mb_substr=0,100,'utf-8'}</p>
                      </div>

                  </div>
              </li>
              {/foreach}
        </ul>


        </div>
    </div>
    <div class="p-2 mt-2" style="text-align: center">
        {$cats|raw}
    </div>

        </div>
      </div>
    <div>
        <div class="d-flex bd-highlight shadow-sm p-1 mb-0 bg-white rounded">
            <div class="p-2 flex-grow-1 bd-highlight">猜你喜欢</div>
          
            <!--<div class="p-2 bd-highlight text-black-50" style="font-size: small;">更多</div>-->
        </div>
        <div class="d-flex justify-content-around">
            {foreach $likes as $v}
            <div class=" p-2 mb-2" >
                <a href="/m/novel/{$v.id}.html"><img src="{$v.cover}" class="card-img-top" alt="{$v.name}" onerror="javascript:this.src='/static/images/no_img.jpg';"></a>
                <span style="font-size: .8125rem;">{$v.name |mb_substr=0,8,'utf-8' }</span>
                <br>
                <span style="font-size: .8125rem;color: gray; border-top: -2rem;">{$v.author}</span>
              </div>
            {/foreach}

        </div>
    </div>


    {include file="default/footer"}