{extend name="base" /}

{block name="content"}
<div>
    <span class="layui-breadcrumb">
  <a href="">首页</a>
  <a><cite>轮播图列表</cite></a>
</span>
</div>
<hr>
<div class="layui-row">
    <div class="layui-col-md9">
        <h4><span>轮播图列表</span></h4>
    </div>
    <div class="layui-col-md3">
        <button class="layui-btn layui-btn-xs" style="text-align: right;" onclick="add()">添加</button>
    </div>
</div>
<div>
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col width="200">
            <col width="200">
            <col width="100">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>id</th>
            <th>名称</th>

            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            {volist name="cats" id="cat"}
        <tr>
            <td>{$cat.id}</td>
            <td>{$cat.name}</td>

            <td><button class="layui-btn-sm layui-btn" onclick="edit({$cat.id})">编辑</button>
                <button class="layui-btn-sm layui-btn layui-btn-danger"  onclick="del({$cat.id})">删除</button>
            </td>


        </tr>
        {/volist}

        </tbody>
    </table>
</div>

<script type="text/javascript">
    function edit(id){
        layer.open({
            type: 2,
            title: '编辑',
            shade: 0.3,
            area: ['480px', '440px'],
            content: '/admin/rotation_chart/edit?id='+id
        });
    }
    function add(){
        layer.open({
            type: 2,
            title: '添加',
            shade: 0.3,
            area: ['480px', '440px'],
            content: '/admin/rotation_chart/add'
        });
    }
    function del(id){
        layer.confirm('确定要删除吗？', {
            icon:3,
            btn: ['确定','取消']
        }, function(){
            $.post('/admin/rotation_chart/del',{'id':id},function(res){
                if(res.code>0){
                    layer.alert(res.msg,{icon:2});
                }else{
                    layer.msg(res.msg);
                    setTimeout(function(){window.location.reload();},1000);
                }
            },'json');
        });
    }
</script>
{/block}